In [1]:
import pandas as pd 
alexa = pd.read_csv("Trips_2018.csv")

In [2]:
alexa.head()

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1

In [3]:
alexa['starttime']

0           2018-01-01 13:50:57.4340
1           2018-01-01 15:33:30.1820
2           2018-01-01 15:39:18.3370
3           2018-01-01 15:40:13.3720
4           2018-01-01 18:14:51.5680
                      ...
17548334    2018-12-31 23:55:06.9910
17548335    2018-12-31 23:55:44.3070
17548336    2018-12-31 23:56:52.8500
17548337    2018-12-31 23:58:29.2120
17548338    2018-12-31 23:59:51.0850
Name: starttime, Length: 17548339, dtype: object

In [4]:
alexa['starttime'] = pd.to_datetime(alexa['starttime'])
alexa['starttime'] = alexa['starttime'].dt.strftime('%Y/%m/%d %H:%M:%S')

In [5]:
#alexa['starttime']
alexa = alexa.set_index(alexa['starttime'])
alexa = alexa.sort_index()

In [32]:
training = alexa[:'2018/11/01']
testing = alexa['2018/11/01':]

In [33]:
training

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
starttime,,,,,,,,,,,,,,
2018/01/01 00:01:50,115400,196,2018/01/01 00:01:50,2018-01-01 00:05:07.4380,315.0,40.703554,-74.006702,259.0,40.701221,-74.012342,18534,Subscriber,1997,1
2018/01/01 00:02:43,549193,207,2018/01/01 00:02:43,2018-01-01 00:06:11.3830,3224.0,40.739974,-74.005139,470.0,40.743453,-74.000040,19651,Subscriber,1978,1
2018/01/01 00:03:15,192744,613,2018/01/01 00:03:15,2018-01-01 00:13:28.4800,386.0,40.714948,-74.002345,2008.0,40.705693,-74.016777,21678,Subscriber,1982,1
2018/01/01 00:06:43,294006,375,2018/01/01 00:06:43,2018-01-01 00:12:59.4500,466.0,40.743954,-73.991449,325.0,40.736245,-73.984738,29822,Subscriber,1982,1
2018/01/01 00:06:56,248393,402,2018/01/01 00:06:56,2018-01-01 00:13:39.7920,438.0,40.727791,-73.985649,380.0,40.734011,-74.002939,30722,Subscriber,1989,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018/10/31 23:59:31,15271416,647,2018/10/31 23:59:31,2018-11-01 00:10:18.4960,3502.0,40.795412,-73.944123,3553.0,40.801694,-73.957145,35022,Subscriber,1988,2
2018/10/31 23:59:38,15271417,314,2018/10/31 23:59:38,2018-11-01 00:04:52.5820,532.0,40.710451,-73.960876,3087.0,40.714133,-73.952344,28282,Subscriber,1977,1
2018/10/31 23:59:46,15271418,1018,2018/10/31 23:59:46,2018-11-01 00:16:44.8500,335.0,40.729039,-73.994046,347.0,40.728846,-74.008591,18731,Customer,1969,0
2018/10/31 23:59:53,15271419,733,2018/10/31 23:59:53,2018-11-01 00:12:07.1460,470.0,40.743453,-74.000040,3711.0,40.729667,-73.980680,18921,Subscriber,1959,1
2018/10/31 23:59:57,15271420,163,2018/10/31 23:59:57,2018-11-01 00:02:41.2840,482.0,40.739355,-73.999318,380.0,40.734011,-74.002939,29808,Subscriber,1979,1

In [7]:
cortana = alexa[['start_station_longitude','start_station_latitude']].copy()

In [9]:
from sklearn.cluster import DBSCAN
cortana.head()

                     start_station_longitude  start_station_latitude
starttime
2018/01/01 00:01:50               -74.006702               40.703554
2018/01/01 00:02:43               -74.005139               40.739974
2018/01/01 00:03:15               -74.002345               40.714948
2018/01/01 00:06:43               -73.991449               40.743954
2018/01/01 00:06:56               -73.985649               40.727791

In [10]:
cluster = DBSCAN(eps=5, min_samples=5).fit(cortana)

MemoryError: